            /* GENERAL INFOS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.fl{
    float: left;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

            /*  SIDEBAR */

.sidebar{
    width: 200px;
    height: calc(100vh - 70px);
    overflow-y: hidden;

    padding: 15px;

    background-color: black;
    color: rgb(136, 136, 136);
    font-size: .7em;
}

.flex-container-column{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-content: center;
}

.sidebar nav{
    height: calc(100% - 40px);
}

.sidebar img{
    width: 70%;
}

.sidebar ul li{
    list-style-type: none;

    padding: 5px 0;
    font-weight: bold;
}

.sidebar ul li img{
    width: 25px;
    vertical-align: middle;

}

.white{
    color: white;
}

.white h3{
    display: inline-block;
}

nav ul .white{
    margin-top: 15px;
}

li.border-bottom{
    border-bottom: 1px solid grey;
}

.white img{
    padding: 2px 3px;
    margin-right: 5px;
    border-radius: 50%;

    background-color: grey;
}

#playlist-text{
    text-transform: uppercase;
}

#big-plus-square{
    font-size: 30px;
}

/* hover */

.sidebar ul li:hover{
    color: white;
    border-left: 2px solid yellowgreen;
    cursor: pointer;
}

            /* JUMBO */


.jumbo{
    position: absolute;
    right: 0;
    height: calc(100vh - 70px);
    width: calc(100% - 200px);

    overflow-y: auto;

    background-color: rgb(37, 36, 46);
}

/* upgrade section */

section.upgrade{
    height: 70px;

    line-height: 70px;
    vertical-align: middle;
    text-align: right;

    background-color: rgba(0, 0, 0, 0.5);
}

#upgrade{
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7em;
    color: white;

    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 35px;
    margin-right: 10px;
}

/* hover */

#upgrade:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/* nav */

.jumbo nav{
    width: 100%;
    text-align: center;
}

.jumbo nav ul li{
    display: inline-block;

    color: rgb(136, 136, 136);
    text-transform: uppercase;
    font-size: .7em;
    font-weight: bold;

    padding: 10px;
}

/* hover */

.jumbo nav ul li:hover{
    color: white;
    border-bottom: 2px solid yellowgreen;
}

/* flex row container */

.flex-container-row{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;

    /* flex-wrap: wrap; */
}

.flex-container-row .flex-item{
    width: 15%;
    height: 100%;
    margin: 0 1% 10px;

}

.flex-container-row .flex-item img{
    width: 100%;
}

.first-row .flex-container-row{
    justify-content: space-evenly;
}

.circle.flex-item img{
    border-radius: 50%;
}

.row>.info-text{
    line-height: 2em;
    margin-bottom: 1.5em;
}

.row>.info-text>p{
    font-size: .7em;
}

.song-info-text{
    font-size: .7em;
    text-align: center;
}

.position{
    position: relative;
}

.play{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: black; */
}

.play i{
    display: none;
    color: white;
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* hover */

.row .flex-item:hover .play{
    background-color: rgba(0, 0, 0, 0.5);
}

.row .flex-item .play:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.row .flex-item:hover .play i{
    display: block;
}



            /* FOOTER */

footer{
    height: 70px;
    background-color: rgb(46, 45, 45);
}

#small-song-img{
    width: 40px;
}

#small-song-img img{
    width: 100%;
}

.footer-inline>div{
    display: inline-block;
    font-size: .7em;
    margin: 15px 10px;
    vertical-align: middle;
}

.footer-inline>div>i{
    margin-right: 5px;
}